@media print {
    @page{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #tombolAtas{
        display: none;
    }

    #tableTitle{
        column-span: 3;
    }

    #aksi{
        display: none;
    }

    #total{
        column-span: 3;
    }

    .card{
        display: none;
    }

    #btn-print{
        display: none;
    }

    #jne, #shope, #jnt, #pos, #anteraja, #sicepat, #idexpress{
        display: none;
    }

}